/* setting font fixes combobox rendering issues in IE. See
 * http://extjs.com/forum/showthread.php?t=72505 */
body {
    font-family:helvetica,tahoma,verdana,sans-serif;
}

/* don't wrap lines on any tooltips */
.x-tip {
    white-space: nowrap;
}

/* application css goes here */

.olControlAttribution {
    text-align: right;
    font-size: 9px;
    bottom: 2px;
}

/* riskgis_riskcalculator */
.x-btn .riskgis-icon-riskcalculator, .x-menu-item .riskgis-icon-riskcalculator { 
    background-image: url(img/calculator.png);
}

/* riskgis-icon-risksummary */
.x-btn .riskgis-icon-risksummary, .x-menu-item .riskgis-icon-risksummary { 
    background-image: url(img/chart_bar.png);
}

/* riskgis-icon-sceList */
.x-btn .riskgis-icon-sceList, .x-menu-item .riskgis-icon-sceList { 
    background-image: url(img/application_view_list.png);
}

/* riskgis-icon-inputdata */
.x-btn .riskgis-icon-inputdata, .x-menu-item .riskgis-icon-inputdata {
    background-image: url(img/database.png);
}

/* riskgis-icon-hazard */
.x-btn .riskgis-icon-hazard, .x-menu-item .riskgis-icon-hazard { 
    background-image: url(img/weather_rain.png);
}

/* riskgis-icon-object */
.x-btn .riskgis-icon-object, .x-menu-item .riskgis-icon-object { 
    background-image: url(img/building.png);
}

/* riskgis-icon-add-layer */
.x-btn .riskgis-icon-add-layer, .x-menu-item .riskgis-icon-add-layer {
    background-image: url(img/map_add.png);
}


